{% extends 'base.html' %}

{% block content %}

<main class="container py-5">

    <section class="card card-body">

        <h1 class="display-1 text-center">Django App</h1>
    
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi necessitatibus id mollitia vel nam saepe veritatis beatae quas tenetur sequi fuga officia quisquam, corporis sint distinctio! Accusantium soluta tenetur aut odio alias voluptatibus praesentium mollitia rerum cum. Explicabo, optio id necessitatibus doloribus aspernatur corporis quaerat quasi ducimus laborum nobis voluptate?
        
        {% if user.is_authenticated }%
        <span>Welcome</span>

        {% else %}

        <div class="text-center"> <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Signup
        </a>
        {% endif %}
    
    </div>
       
    </section>
</main>

{% endblock %}